body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#canvas-container {
    position: relative;
    padding: 0;
}
#loading-message {
    position: relative;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}